/Module/Extern/OpenCV/
/Module/Extern/PyTorch/TensorBoard/events.out.tfevents.1647180383.DESKTOP-KELB6M5.61668.0
/Module/Extern/PyTorch/TensorBoard/events.out.tfevents.1647181142.DESKTOP-KELB6M5.61908.0
/Module/Extern/PyTorch/TensorBoard/events.out.tfevents.1647181161.DESKTOP-KELB6M5.62400.0
/Module/Extern/PyTorch/TensorBoard/events.out.tfevents.1647181221.DESKTOP-KELB6M5.59660.0
/Module/Extern/PyTorch/TensorBoard/events.out.tfevents.1647191493.DESKTOP-KELB6M5.67496.0
/Module/Extern/PyTorch/Number_Convolution/Data/
/Module/Extern/PyTorch/Number_Convolution/TensorBoard/
/Module/Extern/PyTorch/MNIST_Linear/Data/
/Module/Extern/PyTorch/MNIST_Convolution/TensorBoard/
/Module/Extern/PyTorch/MNIST_Convolution/Data/
